body {
  font-size: 2rem;
  font-family: "Tajawal", sans-serif;
  color: #003366;
  /* z-index: 2; */
  /* background: blue; */
  /* background: radial-gradient(ellipse at top, #45b3e0, transparent),
    radial-gradient(ellipse at bottom, #e07245, transparent);

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  outline: none; */
  width: 100vmax;
  height: 100vmin;
  /* width: 100vw;
  height: 100vh; */
}
.sunrise {
  background: radial-gradient(ellipse at top, #45b3e0, transparent),
    radial-gradient(ellipse at bottom, #e07245, transparent);
  background-size: 100%;
  /* width: 100wh;
  height: 100vh; */
  min-height: 100%;
  /* position: absolute; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.sunrisescroll {
  background: radial-gradient(ellipse at top, #45b3e0, transparent),
    radial-gradient(ellipse at bottom, #e07245, transparent);
  background-size: 100%;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.sunset {
  background: radial-gradient(
    ellipse at top,
    #faa9b4,
    #c3abdb,
    #a9ace8,
    #6c6e94
  );
  /* linear-gradient(ellipse at bottom, #a9ace8, #c3abdb, #a9ace8); */
  /* 9d92d6 */
  min-height: 100%;
  background-size: 100%;
  background-attachment: fixed;

  /* width: 100wh;
  height: 100vh; */
}

.flashbackground {
  background: radial-gradient(ellipse at top, #33444e, transparent),
    radial-gradient(ellipse at bottom, #c4cace, transparent);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.theend {
  background: radial-gradient(ellipse at top, #33444e, #232f36);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

/* indentation */

p.indent1 {
  text-indent: -2em;
  font-weight: bold;
  /* font-family: "Hind Madurai", sans-serif; */
}
p.ran {
  text-indent: -2.5em;
  font-weight: bold;
}
p.hru {
  text-indent: -2.4em;
  font-weight: bold;
}
p.gale {
  text-indent: -2.7em;
  font-weight: bold;
}
p.rosha {
  text-indent: -3.5em;
  font-weight: bold;
}

p.harcartt {
  text-indent: -4.5em;
  font-weight: bold;
}

p.em {
  text-indent: -2em;
  font-weight: bold;
}

p.automaton {
  text-indent: -5.5em;
  font-weight: bold;
}
p.sodi {
  text-indent: -2.4em;
  font-weight: bold;
}

span.bold1 {
  font-size: 1.1em;
  font-weight: bolder;
}

span.bold2 {
  font-weight: bold;
}

span.end {
  font-family: "Cinzel Decorative", cursive;
  font-size: 12em;
  /* font-weight: bold; */
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: -webkit-linear-gradient(#003366, #c0c0c0);
  /* background: -webkit-linear-gradient(#003366, #6e0202); */

  text-align: center;
  /* background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(20%, #003366),
    color-stop(40%, #c0c0c0),
    color-stop(60%, #6e0202),
    color-stop(80%, #003366)
  ); */
  /* background: linear-gradient(
    to right,
    #003366 20%,
    #6e0202 40%,
    #6e0202 60%,
    #003366 80%
  ); */
  background: linear-gradient(
    to right,
    #000 20%,
    #450101 40%,
    #450101 60%,
    #000 80%
  );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 3s linear infinite;
  animation: shine 3s linear infinite;
}
@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.the {
  /* font-family: federo-custom; */
  font-family: "Cinzel Decorative", cursive;
  font-size: 3em;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* background: -webkit-linear-gradient(#450101, #232f36); */
  background: -webkit-linear-gradient(#232f36, #450101);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lombardic {
  float: left;
  /* font-family: "Katibeh", cursive; */
  /* font-family: "Gentium Basic", serif; */
  /* font-family: "Cinzel", serif; */
  /* font-family: "Cardo", serif; */
  font-family: "Gentium Book Basic", serif;
  font-size: 12em;
  background: -webkit-linear-gradient(#003366, #c0c0c0);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 66%;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  padding-bottom: 1px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.wrapper {
  display: grid;
  /* font-family: "Tajawal", sans-serif; */
  /* font-size: 1.3em; */
  color: #003366;
  /* grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.6fr;
  grid-template-rows: 0.04fr 1.1fr 1fr 0.4fr 0.3fr 0.04fr; */

  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.6fr;
  grid-template-rows: 0.04fr 1.1fr 0.3fr 0.6fr 0.3fr 0.04fr;
  width: 100vmax;
  height: 100vmin;
}

/* .wrapper > div {
  border: 1px solid black;
} */

.item1 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item2 {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.item3 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
.item4 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 7;
  justify-content: center;
  display: flex;
}

input[type="image"] {
  /* padding: 23px 40px; */
  /* padding-left: 1100px */
}

/* .btn > div {
  border: solid black;
} */
@font-face {
  font-family: "Kavivanar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Kavivanar Regular"), local("Kavivanar-Regular"),
    url(https://fonts.gstatic.com/s/kavivanar/v5/o-0IIpQgyXYSwhxP7_Jr5TRASf6M7Q.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
.btn {
  border: none;
  /* background-color: inherit; */
  /* padding: 14px 28px; */
  font-family: "Kavivanar", cursive;
  /* font-size: 400px; */
  font-size: 12em;

  /* display: flex; */
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* text-align: center; */
  /* background: blue;
              color: blue; */
  background: -webkit-linear-gradient(#bf94e4, #001a33, #003366);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover {
  background: -webkit-linear-gradient(#003366, #001a33, #bf94e4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: federo-custom;
  font-display: swap;
  src: local("Federo"), local("Federo-Regular"),
    url(https://fonts.gstatic.com/s/federo/v11/iJWFBX-cbD_ETsbWilmf-2fW7A.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
.btn2 {
  border: none;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  font-family: federo-custom;
  font-size: 3em;
  font-weight: normal;
  font-style: normal;
  background: -webkit-linear-gradient(#003366, #c0c0c0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn2:hover {
  font-family: federo-custom;
  font-size: 90px;
  text-decoration: none;
  background: -webkit-linear-gradient(#c0c0c0, #003366);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper2 {
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr; */
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100vmax;
  height: 100vmin;
}
.wrapper2 > div {
  border: 1px solid black;
}

.centered {
  display: grid;
  align-items: center;
  justify-items: center;
}

.imr1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.imr2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* grid for pages with two text links */

.abgrid {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
  grid-template-rows: 0.2fr 0.6fr 1fr 0.9fr;
  width: 100vmax;
  height: 100vmin;
}

.abgrid > div {
  border: 1px solid black;
}

.text {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.left {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.right {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: right;
  justify-content: right;
}
.center {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

/* grid for lots of text */
.bigtext > div {
  border: solid black;
}

.bigtext {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: 0.4fr 3fr 0.3fr 0.1fr;
  /* width: 100vmax;
  height: 100vmin; */
}

.smalltext {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: 0.4fr 3fr 0.3fr 0.1fr;
  width: 100vmax;
  height: 100vmin;
}
.smalltext > div {
  border: solid black;
}
.maintext {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.next2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*lots of dialogue*/
.bigdialogue {
  display: grid;
  /* grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 0.1fr 2fr 0.1fr 0.1fr; */
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 0.1fr 2fr 0.1fr 0.1fr;
  /* width: 100vmax;
  height: 100vmin; */
}

.bigdialogue > div {
  border: solid black;
}

.smalldialogue {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 0.1fr 2fr 0.2fr 0.4fr;
  width: 100vmax;
  height: 100vmin;
}
.smalldialogue > div {
  border: solid black;
}

.dialogue {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.apples {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.oranges {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

/* home page background */

.home {
  width: 100wh;
  height: 100vh;
  background: radial-gradient(#3b6d7f, #c3efff, #347f7e, #16637f, #234f7f);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* sintax logo and form */

.sintaxgrid {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 0.8fr 0.3fr 0.3fr 0.3fr;
  width: 100vmax;
  height: 100vmin;
}

/* .sintaxgrid > div {
  border: solid black;
} */

.logo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  text-align: center;
  /* background: -webkit-radial-gradient(#bac5e8, #c4cace, #586cff); */
  font-family: "Lemonada", cursive;
  font-size: 100px;
}

.username {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sintaxinput {
  width: 40%;
  padding: 24px 40px;
  box-sizing: border-box;
  border: 2px solid 874;
  border-radius: 4px;
  outline: none;
  color: #003366;
  text-align: center;
  font-family: "Hind Madurai", sans-serif;
  font-size: 50px;
  background-color: transparent;
}

.signin {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  color: #003366;
  font-family: "Hind Madurai", sans-serif;
  font-size: 35px;
}

.sintaxnext {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

/* style for text links */

.textlink {
  display: inline-block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #e07245;
  font-family: "Tajawal", sans-serif;
  -webkit-background-clip: text;
}

.textlink2 {
  display: inline-block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #0060bf;
  font-family: "Tajawal", sans-serif;
  -webkit-background-clip: text;
}

.textlink:hover {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border: none;
  /* color: #003366; */
  color: #0080ff;
  background-color: transparent;
}

.textlink2:hover {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border: none;
  /* color: #003366; */
  color: #faa9b4;
  background-color: transparent;
}

/* Border for lombardic pages */

.gradient-border {
  --borderWidth: 2.5px;
  --borderHeight: 2px;
  /* background: #1d1f20; */
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    transparent,
    transparent,
    #006999,
    #004e73,
    #004566,
    #004566,
    #003b66,
    #003b66,
    #003b66,
    #003366,
    #003366,
    #003b66,
    #003b66,
    #003b66,
    #004566,
    #004566,
    #004e73,
    #006999,
    transparent,
    transparent
  );
  /* border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 15s ease alternate infinite;
  background-size: 300% 300%; */
}
/* 
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/*grid for crashing into T */

@font-face {
  font-family: "Jomhuria";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Jomhuria"), local("Jomhuria-Regular"),
    url(https://fonts.gstatic.com/s/jomhuria/v7/Dxxp8j-TMXf-llKur1byOuC5CGDg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.longresponse {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  /* grid-template-rows: 0.1fr 1fr 0.2fr 0.2fr 0.1fr; */
  /* grid-template-rows: 0.1fr 0.4fr 0.2fr 0.1fr 0.1fr; */
  grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr 1fr;

  width: 100vmax;
  height: 100vmin;
}

.longresponse > div {
  border: 1px solid black;
}

.text3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.top {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.bot {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

/*grid for bird call */

.crash {
  display: grid;
  /* grid-template-columns: 0.1fr 0.3fr 2fr 0.3fr 0.1fr;
  grid-template-rows: 0.1fr 1fr 2fr 0.5fr 0.5fr 0.1fr; */

  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: 0.2fr 0.7fr 0.2fr;
  width: 100vmax;
  height: 100vmin;
}

.crash > div {
  border: solid black;
}

.noise {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: "Jomhuria", cursive;
  font-size: 7em;
  color: #003366;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.back {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: "Tangerine", cursive;
  /* font-weight: bold; */
  /* font-family: "Jomhuria", cursive; */
  font-size: 4em;
  color: #003366;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.text4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.goright {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/* grid for flashbacks */

.flashback > div {
  border: 1px solid black;
}
.flashback {
  display: grid;
  /* grid-template-columns: 0.1fr 0.3fr 2fr 0.3fr 0.1fr;
  grid-template-rows: 0.1fr 1fr 2fr 0.5fr 0.5fr 0.1fr; */

  grid-template-columns: 0.1fr 0.3fr 2fr 0.3fr 0.1fr;
  grid-template-rows: 0.1fr 0.5fr 2fr 0.3fr 0.3fr 0.1fr;
  width: 100vmax;
  height: 100vmin;
}

/* .bird > div {
  border: solid black;
} */

/* grid for letter */

.letter > div {
  border: 1px solid black;
}
.letter {
  font-family: "Bad Script", cursive;
  color: #003366;
  font-size: 40px;
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: 0.1fr 3fr 0.3fr 0.1fr;
  /* width: 100vmax;
  height: 100vmin; */
}

.main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-items: center;
  justify-content: center;
}
.next {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.right {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  /* display: flex;
  align-items: right;
  justify-content: right; */
}
.center {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
