body {
  /* font-family: "Hind Madurai", sans-serif; */
  /* font-size: 35px; */
  font-family: "Tajawal", sans-serif;
  font-size: 35px;
  color: #003366;

  background: radial-gradient(ellipse at top, #45b3e0, transparent),
    radial-gradient(ellipse at bottom, #e07245, transparent);

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  /* margin-top: 60px; */
  outline: none;
}

audio {
  width: 100px;
  box-shadow: 20px 5px 20px rgba(0, 51, 102, 40);
  border-radius: 100px;
  transform: scale(01);
}

/* indentation */

div.indent1 {
  text-indent: -2em;
  font-weight: bold;
  /* font-family: "Hind Madurai", sans-serif; */
}
div.ran {
  text-indent: -2.5em;
  font-weight: bold;
}
div.hru {
  text-indent: -2.4em;
  font-weight: bold;
}
div.gale {
  text-indent: -2.7em;
  font-weight: bold;
}
div.rosha {
  text-indent: -3.5em;
  font-weight: bold;
}

span.bold1 {
  font-size: 40px;
  font-weight: bolder;
}

span.lombardic {
  float: left;
  font-family: "Katibeh", cursive;
  font-size: 700px;
  background: -webkit-linear-gradient(#003366, #c0c0c0);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 97%;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  padding-bottom: 1px;
}

.wrapper {
  display: grid;
  /* font-family: "Tajawal", sans-serif; */
  font-size: 50px;
  color: #003366;
  grid-template-columns: 1fr 0.2fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.05fr 0.4fr 0.2fr 0.1fr 0.4fr 0.05fr;
  /*
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
              grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}

.wrapper > div {
  /* border: 1px solid black; */
  font-size: 22;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
.item2 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

.item3 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
}
.item4 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
}

input[type="image"] {
  /* padding: 23px 40px; */
  /* padding-left: 1100px */
}

.btn {
  border: none;
  /* background-color: inherit; */
  /* padding: 14px 28px; */
  font-family: "Kavivanar", cursive;
  font-size: 500px;
  display: flex;
  /* display: inline-block; */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* text-align: center; */
  /* background: blue;
              color: blue; */
  background: -webkit-linear-gradient(#bf94e4, #001a33, #003366);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover {
  background: -webkit-linear-gradient(#003366, #001a33, #bf94e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn2 {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: blue;
  color: blue;
  font-family: "Federo", sans-serif;
  font-size: 90px;
  background: -webkit-linear-gradient(#003366, #c0c0c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* line-height: 97%;
                padding-top: 4px;
                padding-right: 8px;
                padding-left: 3px;
                padding-bottom: 1px; */
  /* text-decoration-line: underline;
              text-decoration-color: transparent; */
}
.btn2:hover {
  font-family: "Federo", sans-serif;
  font-size: 90px;
  text-decoration: none;
  background: -webkit-linear-gradient(#c0c0c0, #003366);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* line-height: 97%;
                padding-top: 4px;
                padding-right: 8px;
                padding-left: 3px;
                padding-bottom: 1px; */
  /* text-decoration-line: underline;
              text-decoration-color: transparent; */
}
/* .btn2:focus {
              text-decoration-line: underline;
              text-decoration-color: transparent;
            }
            .btn2:visited {
              text-decoration-line: underline;
              text-decoration-color: transparent; */

.wrapper2 {
  display: grid;
  /* grid-template-columns: 400px 800px 400px;
                grid-template-rows: 200px 200px 200px; */
  /* grid-template-columns: 450px 800px 400px;
  grid-template-rows: 350px 350px 350px; */

  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 0.5;
}
/* .wrapper2 > div {
  border: 1px solid black;
} */

/* grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 0.05fr 0.05fr; */

/* grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.1fr;
}

.wrapper2 > div {
  border: 1px solid black;
}
.imr1 {
  grid-row-start: 1;
  grid-row-end: 2;
}
.imr2 {
  grid-row-start: 2;
  grid-row-end: 3;
} */

.imr1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.imr2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* grid for pages with two text links */

.abgrid {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
}

.text {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.left {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.right {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: right;
  justify-content: right;
}
.center {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

/* grid for lots of text */

.bigtext {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: 0.4fr 3fr 0.3fr 0.1fr;
}

.maintext {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.next2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*lots of dialogue*/
.bigdialogue {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 0.1fr 2fr 0.1fr 0.1fr;
}

.bigdialogue > div {
  /* border: solid black; */
}

.dialogue {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.apples {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.oranges {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  /* display: flex;
  align-items: right;
  justify-content: right; */
}

/* home page background */

.home {
  width: 100wh;
  height: 100vh;
  /* color: #fff; */
  background: radial-gradient(#3b6d7f, #c3efff, #347f7e, #16637f, #234f7f);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* sintax logo and form */

.sintax10 {
  /* text-align: center;
  font-family: "Lemonada", cursive;
  font-size: 100px;
  background: -webkit-linear-gradient(#b768a2, #c4cace, #586cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
/* form {
  font-family: "Hind Madurai", sans-serif;
  font-size: 35px;
  text-align: center;
  color: #003366;
} */

/* .sintax10:hover {
  background: -webkit-linear-gradient(#586cff, #c4cace, #b768a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.sintaxgrid {
  display: grid;
  /* grid-template-columns: 0.1fr 2fr 0.1fr;
  grid-template-rows: 1fr 0.3fr 0.3fr 0.1fr; */
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 1fr 0.3fr 0.3fr 0.1fr;
}

/* .sintaxgrid > div {
  border: solid black;
} */

.logo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;

  /* width: 200px;
  height: 200px;
  border-radius: 50%; */
  color: #0080ff;
  /* line-height: 500px; */
  text-align: center;
  /* background: -webkit-radial-gradient(#bac5e8, #c4cace, #586cff); */
  font-family: "Lemonada", cursive;
  font-size: 100px;
}

.username {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sintaxinput {
  width: 40%;
  padding: 24px 40px;
  box-sizing: border-box;
  border: 2px solid 874;
  border-radius: 4px;
  outline: none;
  color: #003366;
  text-align: center;
  font-family: "Hind Madurai", sans-serif;
  font-size: 50px;
  background-color: transparent;
}

.signin {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  color: #003366;
  font-family: "Hind Madurai", sans-serif;
  font-size: 35px;
}

.sintaxnext {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

/* style for text links */

.textlink {
  display: inline-block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #e07245;
  font-family: "Tajawal", sans-serif;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}

.textlink:hover {
  display: inline-block;
  text-decoration: none;
  border: none;
  color: #003366;
  background-color: transparent;
}

/* Border for lombardic pages */

.gradient-border {
  --borderWidth: 3px;
  --borderHeight: 2px;
  /* background: #1d1f20; */
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    transparent,
    transparent,
    #006999,
    #004e73,
    #004566,
    #004566,
    #003b66,
    #003b66,
    #003b66,
    #003366,
    #003366,
    #003b66,
    #003b66,
    #003b66,
    #004566,
    #004566,
    #004e73,
    #006999,
    transparent,
    transparent
  );
  /* border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 15s ease alternate infinite;
  background-size: 300% 300%; */
}
/* 
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/*grid for crashing into T */

.crash {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 1fr 2fr 0.5fr 0.5fr 0.1fr;
}

.noise {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: "Jomhuria", cursive;
  font-size: 200px;
  color: #003366;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.text3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.top {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.bot {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

/*grid for bird call */

.bird {
  display: grid;
  grid-template-columns: 0.1fr 0.3fr 2fr 0.3fr 0.1fr;
  grid-template-rows: 0.1fr 1fr 2fr 0.5fr 0.5fr 0.1fr;
}

.birdsong {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: "Jomhuria", cursive;
  font-size: 200px;
  color: #003366;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.text4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.goright {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

/* grid for letter */

.letter {
  font-family: "Bad Script", cursive;
  color: #003366;
  font-size: 40px;
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: 0.1fr 3fr 0.3fr 0.1fr;
}

.main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.right {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: right;
  justify-content: right;
}
.center {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
