* {
  /* 	outline: none; */
}

/*👇 for preload play/pause svg 😎*/
/* body:after {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        z-index: -1;
        content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/play.svg)
            url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/pause.svg);
    } */

article {
  position: absolute;
  width: 50px;
  height: 100px;
  top: 40px;
  left: 0;
  bottom: 40px;
  right: 0;
  margin: auto;
  /* 	text-align: center; */
  padding: 50px 5%;
  /* 	box-sizing: border-box; */
  box-shadow: 0 0 21px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.mejs-container {
  background: #003366;
  font-family: Helvetica, Arial;
  /* 	text-align: left; */
  vertical-align: top;
  text-indent: 0;
  width: 50px !important;
  height: 50px !important;
  border-radius: 5px;
}

.mejs-container .mejs-controls {
  height: 100%;
  background: transparent;
  display: flex;
}

.mejs-container .mejs-controls div {
  height: 100%;
  width: 50px;
  position: relative;
}

.mejs-controls .mejs-button button {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  border: 0 !important;
  background: transparent;
  outline: none;
}

.mejs-controls .mejs-play:after {
  position: absolute;
  content: "";
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/play.svg)
    no-repeat;
  width: 17px;
  height: 22px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: all 100ms linear;
  pointer-events: none;
}

.mejs-controls .mejs-pause:after {
  position: absolute;
  content: "";
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/pause.svg)
    no-repeat;
  width: 13px;
  height: 22px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: all 100ms linear;
  pointer-events: none;
}

.mejs-controls .mejs-button button:focus {
  outline: none;
}
